<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647495204529-nse2i1fdt88sh338lab1tf95m0hti9sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647495204529-nse2i1fdt88sh338lab1tf95m0hti9sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDZPDFCdjMFFBUAHCOZPR9TQjgCcjXZCd8</string>
	<key>GCM_SENDER_ID</key>
	<string>647495204529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7Lab</string>
	<key>PROJECT_ID</key>
	<string>water-4a614</string>
	<key>STORAGE_BUCKET</key>
	<string>water-4a614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647495204529:ios:6b3fa9f3621052bda0ec90</string>
</dict>
</plist>