<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426362135894-l3rh40kekj12ih3rn4betf1utn0ddv9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426362135894-l3rh40kekj12ih3rn4betf1utn0ddv9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAoNiW8ur8CkV0ihkMIrR4fbvQK75ktZGc</string>
	<key>GCM_SENDER_ID</key>
	<string>426362135894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week6Lab</string>
	<key>PROJECT_ID</key>
	<string>shoutbox-newest</string>
	<key>STORAGE_BUCKET</key>
	<string>shoutbox-newest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426362135894:ios:01498d34aba03ff191a2f7</string>
</dict>
</plist>